<!-- Standard Modal Pop-Up -->
<div class="modal" id="myModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header p-2" id="myModalTitle">
                <h5 class="modal-title">@ViewBag.Title</h5>
                <button type="button" class="btn-close btn-primary rounded btn-icon btn btn-sm" data-bs-dismiss="modal" aria-label="Close"><i class="ti-close"></i></button>
            </div>
           <div class="modal-body p-3" id="myModalBody">
            </div>
        </div>
    </div>
</div>

<!-- Standard Modal Pop-Up Large -->
<div class="modal" id="myModalLg" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header p-2" id="myModalTitle">
                <h5 class="modal-title">@ViewBag.Title</h5>
                <button type="button" class="btn-close btn-primary rounded btn-icon btn btn-sm" data-bs-dismiss="modal" aria-label="Close"><i class="ti-close"></i></button>
            </div>
            <div class="modal-body p-3" id="myModalBodyLg">
            </div>
        </div>
    </div>
</div>


<!-- Standard Modal Pop-Up -->
<div class="modal" id="myModal2" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header p-2" id="myModalTitle2">
                <h5 class="modal-title">@ViewBag.Title</h5>
                <button type="button" class="btn-close btn-primary rounded btn-icon btn btn-sm" data-bs-dismiss="modal" aria-label="Close"><i class="ti-close"></i></button>
            </div>
            <div class="modal-body p-3" id="myModalBody2">
                <p>tes</p>
            </div>
        </div>
    </div>
</div>