@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
@model VMUser
<partial Name="_Alert" />
<form id="frmUpdatePass" method="post" asp-action="PatientEditPassword" asp-controller="ProfilePatient">
    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="hidden" name="ModifiedBy" value=2 />
    <h4 class="title text-primary mb-4">Masukan password saat ini</h4>
    <div class="form mb-3">
        <label for="password">Password</label>
        <input type="text" class="form-control" name="Password" value="" />
    </div>
    <button type="submit" class="btn btn-primary me-2">Submit</button>
    <button id="No" type="button" data-dismiss="modal" class="btn btn-secondary">Cancel</button>
</form>

<script>
    $("#No").click(function () {
        $("#myModal").modal("hide");
    });

    $("#frmUpdatePass").validate({

        submitHandler: function (form) {
            alert("tes");

            $.ajax({
                url: "ProfilePatient/PatientEditPassword",
                type: "Post",
                data: $(form).serialize(), //data teks
                dataType: "json", //diubah ke json
                beforeSend: function () {
                    //proses sebelum memanggil controller
                },
                success: function (apiResponse) {
                    debugger;
                    if(apiResponse.success == true)
                    {
                    alert(apiResponse.message);
                    location.reload();
                    }

                    if (apiResponse.success == false) {
                    debugger;
                    alert(apiResponse.message);
                        $("#myModal").modal("hide");
                        $("#myModalBody").load("ProfilePatient/PatientEditPassword/" + @Model.BiodataId)
                        $("#myModal").modal("show");
                    }
                    //if (apiResponse.success) { location.reload(); alert(apiResponse.message); }
                    //else { alert(apiResponse.message); location.reload(); } //menjadi huruf kecil semua

                }, //proses setelah memanggil kontroler
                error: function (errResponse) {
                    //debugger;
                    alert("Update Category failed!");
                    location.reload()
                    //  $("#myModalLg").modal("hide");
                } //proses ketika terjadi kesalahan
            });
        }
    });
</script>